<IfModule mod_mime.c>
  AddType text/javascript .mjs
  AddType application/javascript .js
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.mjs$">
    Header set Content-Type "text/javascript"
  </FilesMatch>
</IfModule>
